<div class="col-md-12">
  <div class="col-md-4">
    <%= bootstrap_form_for(@flight) do |f| %>
      <% if @flight.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

          <ul>
          <% @flight.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.select :origin, @list_airport, label: "Flight Origin" %>
      <%= f.select :destination, @list_airport, label: "Flight Destination"  %>
      <%= f.number_field :seat, required: true, label: "Seats" %>
      <%= f.datetime_select :departure, label: "Departure Date / Time" %>
      <%= f.datetime_select :arrival, label: "Arrival Date / Time" %>
      <%= f.text_field :airline, required: true %>
      <%= f.text_field :code, required: true %>
      <%= f.number_field :cost, label: "Cost Override (Leave Blank Recommended)" %>
      <%= f.select :status, ["No", "Cancel Flight"], label: "Cancel This Flight?" %><br>
      <%= f.submit %>
    <% end %><br>
  </div>
</div>
