<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :origin %><br>
    <%= f.select :origin, @list_airport %>
  </div>
  <div class="form-group">
    <%= f.label :destination %><br>
    <%= f.select :destination, @list_airport %>
  </div>
  <div class="form-group">
    <%= f.label :seat, "Seats" %><br>
    <%= f.number_field :seat, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :departure %><br>
    <%= f.datetime_select :departure %>
  </div>
  <div class="form-group">
    <%= f.label :arrival %><br>
    <%= f.datetime_select :arrival %>
  </div>
  <div class="form-group">
    <%= f.label :airline %><br>
    <%= f.text_field :airline, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :flight_code %><br>
    <%= f.text_field :flight_code, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :flight_cost %><br>
    <%= f.number_field :flight_cost, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Cancel This Flight?"%>
    <%= f.select :status, ["No", "Yes"] %>
  </div>
  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>
