<div class="col-md-12">
  <div class="col-md-6">
    <table>
  	  <thead>
  	    <tr>
  	      <th colspan="2">Booking Flight <%=@flight_selected.code%></th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <tr>
  	      <td>Origin:</td>
  	      <td><%= @flight_selected.origin %></td>
  	    </tr>
  	    <tr>
  	      <td>Destination:</td>
  	      <td><%= @flight_selected.destination %></td>
  	    </tr>
  	    <tr>
  	      <td>Departure Time:</td>
  	      <td><%= @flight_selected.departure.strftime("%d/%m/%Y %H:%M") %></td>
  	    </tr>
  	    <tr>
  	      <td>Time of Arrival:</td>
  	      <td><%= @flight_selected.arrival.strftime("%d/%m/%Y %H:%M") %></td>
  	    </tr>
  	    <tr>
  	      <td>Flight Jurisdiction:</td>
  	      <td><%= @flight_selected.jurisdiction %></td>
  	    </tr>
  	    <tr>
  	      <td>Flight Costs:</td>
  	      <td>$ <%= @flight_selected.cost %> per person (Economy)</td>
  	    </tr>
        <tr>
          <td></td>
          <td>$ <%= business_class_flight_cost %> per person (Business)</td>
        </tr>
        <tr>
          <td></td>
          <td>$ <%= first_class_flight_cost %> per person (First)</td>
        </tr>
  	    <tr>
  	      <td>Airline:</td>
  	      <td><%= @flight_selected.airline %></td>
  	    </tr>
  	    <tr>
  	      <td>Travel Class:</td>
          <td><%= booking_travel_class %></td>
  	    </tr>
  	    <tr>
  	      <td>Number of Passengers Travelling:</td>
  	      <td><%= booking_passenger_count %></td>
  	    </tr>
  	  </tbody>
    </table>
  </div>
  <%= render "shared/user_profile" %> 
  <div class="col-md-12">
    <br>
    <p>
      <%= link_to "Find a different flight", root_path %>
    </p>
  </div>
</div>

<div class="col-md-12 form-group">
  <%= bootstrap_form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="heading-row">
      <div class="col-md-12">
        <h3> Enter Your Booking Information Here</h3>
      </div>
      <div class="col-md-4 form-group">
        <%= f.select :travel_class, ["Economy", "Business", "First"], label: "Set / Change Travel Class" %>
      </div>
      <div class="col-md-12 sub-heading-row form-group">
        <%= f.fields_for :passengers do |passenger_details| %>
          <%= render "passenger_fields", f: passenger_details %>
        <% end %>
        <div class="col-md-4 clearfix form-group">
          <br>
          <%= link_to_add_association "Add Another Passenger", f, :passengers, class: "btn btn-primary btn-xl page-scroll" %>
        </div>
      </div>
      <div class="col-md-12 actions form-group">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>
