<h1>Booking#new</h1>
<p>Find me in app/views/booking/new.html.erb</p>


<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flight_id %><br>
    <%= f.text_field :flight_id %>
  </div>
  <div class="field">
    <%= f.label :booking_reference_id %><br>
    <%= f.text_field :reference_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :passengers_booked %><br>
    <%= f.number_field :passengers_booked %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.number_field :paid %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
