  <div style="display: inline-block">
	  <table>
		  <thead>
		    <tr>
		      <th colspan="2">Booking Flight <%=@flight_selected.flight_code%></th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <tr>
		      <td>Origin:</td>
		      <td><%= @flight_selected.origin %></td>
		    </tr>
		    <tr>
		      <td>Destination:</td>
		      <td><%= @flight_selected.destination %></td>
		    </tr>
		    <tr>
		      <td>Departure Time:</td>
		        <td><%= @flight_selected.departure.strftime("%d/%m/%Y %H:%M") %></td>
		    </tr>
		    <tr>
		      <td>Time of Arrival:</td>
		      <td><%= @flight_selected.arrival.strftime("%d/%m/%Y %H:%M") %></td>
		    </tr>
		    <tr>
		      <td>Flight Jurisdiction:</td>
		      <td><%= @flight_selected.flight_type %></td>
		    </tr>
		    <tr>
		      <td>Flight Cost:</td>
		      <td>$ <%= @flight_selected.flight_cost %> per person</td>
		    </tr>
		    <tr>
		      <td>Airline:</td>
		      <td><%= @flight_selected.airline.name %></td>
		    </tr>
		    <tr>
		      <td>Travel Class:</td>
		      <td><%= @passenger_enquiry["Travel Class"] %></td>
		    </tr>
		    <tr>
		      <td>Number of Passengers:</td>
		      <td><%= @passenger_enquiry["Number Travelling"] %></td>
		    </tr>
		    

		  </tbody>
	  </table>
  </div>


<%= @passenger_enquiry %>


<div>

  <%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flight_id %><br>
    <%= f.text_field :flight_id %>
  </div>


<% (1 + @passenger_enquiry["Number Travelling"]).times do %>

  <%= f.fields_for :passenger_details do |passenger_details| %>
  <h2> Passenger Details </h2>
  <div class="field">
    <%= passenger_details.label :title %><br>
    <%= passenger_details.text_field :title %>
  </div>
  <div class="field">
    <%= passenger_details.label :firstname %><br>
    <%= passenger_details.text_field :firstname %>
  </div>
  <div class="field">
    <%= passenger_details.label :lastname %><br>
    <%= passenger_details.text_field :lastname %>
  </div>
  <div class="field">
    <%= passenger_details.label :email %><br>
    <%= passenger_details.text_field :email %>
  </div>
  <div class="field">
    <%= passenger_details.label :telephone %><br>
    <%= passenger_details.text_field :telephone %>
  </div>
  <div class="field">
    <%= passenger_details.label :nationality %><br>
    <%= passenger_details.text_field :nationality %>
  </div>
  <div class="field">
    <%= passenger_details.label :travel_class %><br>
    <%= passenger_details.select :travel_class, ["Economy", "Business", "First"] %>
  </div>
  <div class="field">
    <%= passenger_details.label :luggage %><br>
    <%= passenger_details.select :luggage, ["No", "Yes"] %>
  </div>
  <% end %>
  <% end %>


  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


</div>
