<%= form_for(:enquiry, :url => {:action => "index"}, :method => "get") do |f| %>
  <legend class="form-group">Search Flights Here</legend>
  <div class="form-group">
    <%= f.label :origin, "Travelling From:", class: "control-label" %><br>
    <%= f.select :origin, @list_airport, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :destination, "Travelling To", class: "control-label" %><br>
    <%= f.select :destination, @list_airport, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :departure, "Earliest Departure Date", class: "control-label" %><br>
    <%= f.date_field :departure, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :passenger, "Number of Passengers", class: "control-label" %><br>
    <%= f.number_field :passenger, required: true %>
  </div>
  <div class="form-group mobile-travel-disappear">
    <%= f.label :travel_class, class: "control-label" %><br>
    <%= f.select :travel_class, ["Economy", "Business", "First"], class: "form-control" %>
  </div>
  <div class="form-group mobile-disappear">
    <%= f.label :view_format, "Search Result Format", class: "control-label" %><br>
    <%= f.select :view_format, ["Grid", "List"] %>
  </div>
  <div class="form-group">
    <%= f.submit "Find Flights", class: "btn btn-primary" %>
  </div>
<% end %>
