<div class="col-md-12">
  <div class="col-md-6">
    <h3>Available Flights | Search Results</h3>
  </div>
  <div class="col-md-6">
    <div class="btn-group float_right">
      <button type="button" class="btn btn-primary">Display In</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Grid Format", root_path(params: params, view_format: "Grid") %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "List Format", root_path(params: params, view_format: "List") %></li>
      </ul>
    </div>
  </div>
</div>

<%= form_for(:select_flight, url: {controller: "bookings", action: "new"}, method: "get" ) do |x|%>
  <div class="col-md-12">
    <% @enquire.each do |flight| %>
      <div class="col-md-2 search_grid">
        <table>
          <thead>
            <tr>
              <th>Flight <%=flight.code%></th>  
              <th><%= radio_button_tag(:select_flight, "#{flight.id}") %> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Origin</td>
              <td><%= flight.origin %></td>
            </tr>
            <tr>
              <td>Destination</td>
              <td><%= flight.destination %></td>
            </tr>
            <tr>
              <td>Time of Departure</td>
              <td><%= flight.departure.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
            <tr>
              <td>Time of Arrival</td>
              <td><%= flight.arrival.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
            <tr>
              <td>Flight Cost</td>
              <td> $ <%= flight_cost(flight) %></td>
            </tr>
            <tr>
              <td>Passengers</td>
              <td><%= @passenger_enquiry[:number_travelling] %></td>
            </tr>
            <tr>
              <td>Total Cost</td>
              <td> $ <%= total_flight_cost(flight) %></td>
            </tr>
            <tr>
              <td><strong>Select Flight</strong></td>
              <td>
                  <%= radio_button_tag(:select_flight, "#{flight.id}") %> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <div>
    <strong><%= "Travel Class: #{passenger_class} Class" %></strong><br>
    <%= "Results found: #{@enquire.count}" %>
    <p><%= submit_tag "Select Flight", class: "btn btn-outline btn-xl page-scroll"%></p>
    </div>
  </div>
<% end %>


