<%= render "heading" %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= form_for(:select_flight, url: {controller: "bookings", action: "new"}, method: "get" ) do |x|%>
      <div class="col-lg-12">
      Travel Class: <strong><%= passenger_class %> Class</strong>, Results found: <strong><%= @enquire.count %></strong>
      </div>
        <% @enquire.each do |flight| %>
          <div class="col-md-4 search_grid">
            <table>
              <thead>
                <tr>
                  <th>Flight <%=flight.code%></th>  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Origin</td>
                  <td><%= flight.origin %></td>
                </tr>
                <tr>
                  <td>Destination</td>
                  <td><%= flight.destination %></td>
                </tr>
                <tr>
                  <td>Time of Departure</td>
                  <td><%= flight.departure.strftime("%d/%m/%Y %H:%M") %></td>
                </tr>
                <tr>
                  <td>Time of Arrival</td>
                  <td><%= flight.arrival.strftime("%d/%m/%Y %H:%M") %></td>
                </tr>
                <tr>
                  <td>Flight Cost</td>
                  <td> $ <%= flight_cost(flight) %></td>
                </tr>
                <tr>
                  <td>Passengers</td>
                  <td><%= @passenger_enquiry[:number_travelling] %></td>
                </tr>
                <tr>
                  <td>Total Cost</td>
                  <td> $ <%= total_flight_cost(flight) %></td>
                </tr>
                <tr>
                  <td><strong>Select Flight</strong></td>
                  <td>
                      <%= radio_button_tag(:select_flight, "#{flight.id}") %> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
        <div class="col-md-6 clearfix">
          <div class="btn-group">
          <br>
              Travel Class: <strong><%= passenger_class %> Class</strong>, Results found: <strong><%= @enquire.count %></strong>
          </div>
          <br>
          <p><%= submit_tag "Select Flight", class: "btn btn-outline page-scroll"%></p>
        </div>
      <% end %>
    </div>
  </div>
</div>