<% multiplier = { "Economy" => 1, "Business" => 1.5, "First" => 2 } %>
<% passenger_class = @passenger_enquiry["Travel Class"] %>
<% travel_value = multiplier[passenger_class] || 1 %>
<% passenger_class = "Economy" unless travel_value > 1 %>

<h3>Available Flights | Search Results</h3>
<%= form_for(:select_flight, :url => {:controller => "bookings", :action => "new"}, :method => "get" ) do |x|%>
  <div class="col-md-12">
    <% @enquire.each do |flight| %>
      <div class="col-md-2 search_grid">
        <table>
          <thead>
            <tr>
              <th>Flight <%=flight.flight_code%></th>  
              <th><%= radio_button_tag(:select_flight, "#{flight.id}") %> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Origin</td>
              <td><%= flight.origin %></td>
            </tr>
            <tr>
              <td>Destination</td>
              <td><%= flight.destination %></td>
            </tr>
            <tr>
              <td>Time of Departure</td>
              <td><%= flight.departure.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
            <tr>
              <td>Time of Arrival</td>
              <td><%= flight.arrival.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
            <tr>
              <td>Flight Cost</td>
              <td> $ <%= flight.flight_cost * travel_value %></td>
            </tr>
            <tr>
              <td>Passengers</td>
              <td><%= @passenger_enquiry["Number Travelling"] %></td>
            </tr>
            <tr>
              <td>Total Cost</td>
              <td> $ <%= flight.flight_cost * @passenger_enquiry["Number Travelling"] * travel_value %></td>
            </tr>
            <tr>
              <td><strong>Select Flight</strong></td>
              <td>
                  <%= radio_button_tag(:select_flight, "#{flight.id}") %> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <div>
    <strong><%= "Travel Class: #{passenger_class} Class" %></strong><br>
    <%= "Results found: #{@enquire.count}" %>
    <p><%= submit_tag "Select Flight", class: "btn btn-outline btn-xl page-scroll"%></p>
    </div>
  </div>
<% end %>


