<p id="notice"><%= notice %></p>

<h1>Listing Airports</h1>

<table>
  <thead>
    <tr>
      <th>Airport Name</th>
      <th>Airport Continent</th>
      <th>Airport Country</th>
      <th>State (Code)</th>
      <th>Airport Jurisdiction</th>
      <th>Airport Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.name %></td>
        <td><%= airport.continent %></td>
        <td><%= airport.country %></td>
        <td><%= airport.state_and_code %></td>
        <td><%= airport.airport_type %></td>
        <td><%= airport.rating %></td>
        <td><%= link_to 'Show', airport %></td>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airport', new_airport_path %>
