<h3>
  <strong><%= @airport.name %></strong>
</h3>

<p>
  <strong>Jurisdiction:</strong>
  <%= @airport.airport_type %>
</p>

<p>
  <strong>State (Code):</strong>
  <%= @airport.state_and_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @airport.country %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @airport.continent %>
</p>

<p>
  <strong>Airport Rating:</strong>
  <%= @airport.rating %>
</p>

<%= link_to "Edit", edit_airport_path(@airport) %> |
<%= link_to "Back", airports_path %>
